#!/sbin/openrc-run

description="XMBox Service"

extra_started_commands="reload"

command="/usr/local/XMBox/XMBox"
command_args="run --config /etc/XMBox/config.yaml"

pidfile="/run/$RC_SVCNAME.pid"
required_files="/etc/XMBox/config.yaml"

depend() {
	want net
}

reload() {
	start-stop-daemon --signal HUP --exec "$command" --pidfile "$pidfile"
}
